
Aula 11/ExemploAgregacaoEncapsulamento/.vs/ExemploAgregacaoEncapsulamento/FileContentIndex/bcf01b2c-2a4d-44eb-8474-c44ec93957e7.vsidx
Aula 11/ExemploAgregacaoEncapsulamento/.vs/ProjectEvaluation/exemploagregacaoencapsulamento.metadata.v6.1
Aula 11/ExemploAgregacaoEncapsulamento/.vs/ProjectEvaluation/exemploagregacaoencapsulamento.projects.v6.1
