
Aula 11/ExemploAgregacaoEncapsulamento/.vs/ExemploAgregacaoEncapsulamento/FileContentIndex/bcf01b2c-2a4d-44eb-8474-c44ec93957e7.vsidx
Aula 11/ExemploAgregacaoEncapsulamento/.vs/ProjectEvaluation/exemploagregacaoencapsulamento.metadata.v6.1
Aula 11/ExemploAgregacaoEncapsulamento/.vs/ProjectEvaluation/exemploagregacaoencapsulamento.projects.v6.1
*.json
Aula 11/ExemploAgregacaoEncapsulamento/bin/Debug/net6.0/ExemploAgregacaoEncapsulamento.dll
Aula 11/ExemploAgregacaoEncapsulamento/bin/Debug/net6.0/ExemploAgregacaoEncapsulamento.exe
Aula 11/ExemploAgregacaoEncapsulamento/bin/Debug/net6.0/ExemploAgregacaoEncapsulamento.pdb
Aula 11/ExemploAgregacaoEncapsulamento/ExemploAgregacaoEncapsulamento.csproj
Aula 11/ExemploAgregacaoEncapsulamento/ExemploAgregacaoEncapsulamento.sln
Aula 11/ExemploAgregacaoEncapsulamento/obj/Debug/net6.0/apphost.exe
Aula 11/ExemploAgregacaoEncapsulamento/obj/Debug/net6.0/ExemploAgregacaoEncapsulamento.AssemblyInfoInputs.cache
Aula 11/ExemploAgregacaoEncapsulamento/obj/Debug/net6.0/ExemploAgregacaoEncapsulamento.assets.cache
Aula 11/ExemploAgregacaoEncapsulamento/obj/Debug/net6.0/ExemploAgregacaoEncapsulamento.csproj.AssemblyReference.cache
Aula 11/ExemploAgregacaoEncapsulamento/obj/Debug/net6.0/ExemploAgregacaoEncapsulamento.csproj.BuildWithSkipAnalyzers
Aula 11/ExemploAgregacaoEncapsulamento/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Aula 11/ExemploAgregacaoEncapsulamento/obj/Debug/net6.0/ExemploAgregacaoEncapsulamento.AssemblyInfo.cs
Aula 11/ExemploAgregacaoEncapsulamento/obj/Debug/net6.0/ExemploAgregacaoEncapsulamento.csproj.CoreCompileInputs.cache
Aula 11/ExemploAgregacaoEncapsulamento/obj/Debug/net6.0/ExemploAgregacaoEncapsulamento.csproj.FileListAbsolute.txt
Aula 11/ExemploAgregacaoEncapsulamento/obj/Debug/net6.0/ExemploAgregacaoEncapsulamento.dll
Aula 11/ExemploAgregacaoEncapsulamento/obj/Debug/net6.0/ExemploAgregacaoEncapsulamento.GeneratedMSBuildEditorConfig.editorconfig
Aula 11/ExemploAgregacaoEncapsulamento/obj/Debug/net6.0/ExemploAgregacaoEncapsulamento.genruntimeconfig.cache
Aula 11/ExemploAgregacaoEncapsulamento/obj/Debug/net6.0/ExemploAgregacaoEncapsulamento.GlobalUsings.g.cs
Aula 11/ExemploAgregacaoEncapsulamento/obj/Debug/net6.0/ExemploAgregacaoEncapsulamento.pdb
Aula 11/ExemploAgregacaoEncapsulamento/obj/Debug/net6.0/ref/ExemploAgregacaoEncapsulamento.dll
Aula 11/ExemploAgregacaoEncapsulamento/obj/Debug/net6.0/refint/ExemploAgregacaoEncapsulamento.dll
Aula 11/ExemploAgregacaoEncapsulamento/obj/ExemploAgregacaoEncapsulamento.csproj.nuget.g.props
Aula 11/ExemploAgregacaoEncapsulamento/obj/ExemploAgregacaoEncapsulamento.csproj.nuget.g.targets
Aula 11/ExemploAgregacaoEncapsulamento/obj/project.nuget.cache
Aula 11/ExercicioRelacionamentoAgregacao/.vs/ExercicioRelacionamentoAgregacao/DesignTimeBuild/.dtbcache.v2
Aula 11/ExercicioRelacionamentoAgregacao/.vs/ExercicioRelacionamentoAgregacao/FileContentIndex/c241beb0-3740-4a4e-9437-88642d566cdf.vsidx
Aula 11/ExercicioRelacionamentoAgregacao/.vs/ExercicioRelacionamentoAgregacao/FileContentIndex/read.lock
Aula 11/ExercicioRelacionamentoAgregacao/.vs/ExercicioRelacionamentoAgregacao/v17/.futdcache.v2
Aula 11/ExercicioRelacionamentoAgregacao/.vs/ExercicioRelacionamentoAgregacao/v17/.suo
Aula 11/ExercicioRelacionamentoAgregacao/.vs/ProjectEvaluation/exerciciorelacionamentoagregacao.metadata.v6.1
Aula 11/ExercicioRelacionamentoAgregacao/.vs/ProjectEvaluation/exerciciorelacionamentoagregacao.projects.v6.1
Aula 11/ExercicioRelacionamentoAgregacao/bin/Debug/net6.0/ExercicioRelacionamentoAgregacao.dll
Aula 11/ExercicioRelacionamentoAgregacao/bin/Debug/net6.0/ExercicioRelacionamentoAgregacao.exe
Aula 11/ExercicioRelacionamentoAgregacao/bin/Debug/net6.0/ExercicioRelacionamentoAgregacao.pdb
Aula 11/ExercicioRelacionamentoAgregacao/ExercicioRelacionamentoAgregacao.sln
Aula 11/ExercicioRelacionamentoAgregacao/obj/Debug/net6.0/apphost.exe
Aula 11/ExercicioRelacionamentoAgregacao/obj/Debug/net6.0/ExercicioRelacionamentoAgregacao.GeneratedMSBuildEditorConfig.editorconfig
Aula 12/Exercicio1/.vs/Exercicio1/FileContentIndex/12fa467e-79ee-48bb-9f1e-731166402a6c.vsidx
Aula 12/Exercicio1/.vs/Exercicio1/FileContentIndex/495b2096-2180-4933-a8cd-4e014cff9080.vsidx
Aula 12/Exercicio1/.vs/Exercicio1/FileContentIndex/76a7a6ed-ab0c-4de3-a895-9ca8a99dca9a.vsidx
Aula 12/Exercicio1/.vs/Exercicio1/FileContentIndex/b968e8e2-29aa-4fd8-8781-9132017ab424.vsidx
Aula 12/Exercicio1/.vs/Exercicio1/FileContentIndex/b968e8e2-29aa-4fd8-8781-9132017ab424.vsidx
Aula 12/Exercicio1/.vs/Exercicio1/FileContentIndex/b968e8e2-29aa-4fd8-8781-9132017ab424.vsidx
Aula 12/Exercicio1/.vs/Exercicio1/v17/.suo
Aula 12/Exercicio1/.vs/Exercicio1/FileContentIndex/b968e8e2-29aa-4fd8-8781-9132017ab424.vsidx
*.vsidx
*.v2
*.lock
Aula 14/CalculadoraSobrecargaDeMetodos/.vs/CalculadoraSobrecargaDeMetodos/v17/.suo
*.dll
*.exe
*.pdb
*.csproj
*.sln
*.props
*.targets
*.cache
*.BuildWithSkipAnalyzers
*.txt
*.editorconfig
*.v2
*.v2
*.vsidx
*.1
Aula 14/Construtores/.vs/Construtores/v17/.suo
Aula 14/ExemploConstrutorESobrecarga/.vs/ExemploConstrutorESobrecarga/v17/.suo
Aula 15/ConstrutorEx2/.vs/ConstrutorEx2/v17/.suo
Conteúdo extra/ConexaoBDMySQL/.vs/ConexaoBDMySQL/v17/.suo
Aula 15/AplicacaoEscolarConstrutor/.vs/AplicacaoEscolarConstrutor/v17/.suo
Conteúdo extra/F_ProgressBar/.vs/F_ProgressBar/v17/.suo
*.user
*.resx
*.resources
Conteúdo extra/ExemploProtected/.vs/ExemploProtected/v17/.suo
*.bin
Conteúdo extra/Excecoes/.vs/Excecoes/v17/.suo
Conteúdo extra/ForEach/.vs/ForEach/v17/.suo
Aula 16/encapsulamento/.vs/encapsulamento/v17/.suo
Prova LPG 2º Bimestre/Exercicio1/.vs/Exercicio1/v17/.suo
*.2
Prova LPG 2º Bimestre/Exercicio2/.vs/Exercicio2/v17/.suo
Prova LPG 2º Bimestre/Exercicio3/.vs/Exercicio3/v17/.suo
Prova LPG 2º Bimestre/Exercicio4/.vs/Exercicio4/v17/.suo
Aula17/CalculoIMC/.vs/CalculoIMC/v17/.suo
Aula17/PrimeiroFormulario/.vs/PrimeiroFormulario/v17/.suo
Aula17/OrdenacaoDeNomes/.vs/OrdenacaoDeNomes/v17/.suo
Aula17/PrimeiroFormulario/.vs/Calculadora/v17/.suo
Aula 18/BarrraDePesquisa/.vs/BarraDeProgresso/v17/.suo
Aula 18/NovoIMC/.vs/NovoIMC/v17/.suo
Aula 18/Ordenacao/.vs/Ordenacao/v17/.suo
Aula 19/Login/.vs/Login/v17/.suo
Aula 19/Login/.vs/Login/v17/.wsuo
Aula 19/Login/.vs/slnx.sqlite
Aula 21/FormularioTXT/.vs/FormularioTXT/v17/.suo
Aula 21/EditorTXT/.vs/EditorTXT/v17/.suo
Aula 21/Ativiade4Calculadora/.vs/Ativiade4Calculadora/v17/.suo
Aula 06/PrimeiroProjeto/.vs/PrimeiroProjeto/v17/.suo
Aula 09/ExemploBanco/.vs/ExemploBanco/v17/.suo
*.config
Aula 22/AppBanco/.vs/AppBanco/v17/.suo
Aula 22/AppBanco/AppBanco/Properties/Settings.settings
*.exe
Aula 23/trabalho0610/trabalho0610/Resources/instituto.jfif
Aula 17/CalculoIMC/.vs/CalculoIMC/v17/.suo
Aula 17/OrdenacaoDeNomes/.vs/OrdenacaoDeNomes/v17/.suo
Aula 17/PrimeiroFormulario/.vs/Calculadora/v17/.suo
Aula 23/trabalho0610/.vs/trabalho0610/v17/.suo
Aula 23/trabalho0610/.vs/trabalho0610/v17/.suo
Aula 23/trabalho0610/.vs/trabalho0610/v17/.suo
